@{
    ViewData["Title"] = "Hello Page";
}
<h1>@ViewData["Title"]</h1>

<p>Hello</p>


<a class="text-dark border border-4 " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
<a class="text-dark border border-4 " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>