@{
    ViewData["Title"] = "Hello Page";
    Layout = null;
}

<div class="container">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>
        <p>Hello</p>
        <a class="text-dark border border-4 " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="text-dark border border-4 " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - RoamAI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

